<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048ai</title>
    <link href="../../Content/main.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Based on <a href="http://gabrielecirulli.github.io/2048/">2048 by Gabriele Cirulli</a></p>
            <p>&copy; @DateTime.Now.Year - ryanhallcs - 2048ai</p>
        </footer>
    </div>
</body>
</html>
